body {
  background-color: lightgray;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.divContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 800px;
  border-style: solid;
  border-color: gray;
  border-width: 2px;
}

.divs {
  width: 25px;
  height: 25px;
  background-color: white;
}
.divs:hover {
  background-color: lightgray;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.resetButton {
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: cornflowerblue;
  color: cornflowerblue;
  background-color: aliceblue;
  width: 200px;
  height: 100px;
  font-size: 2.5rem;
  margin-left: 50px;
}
.resetButton:hover{
  border-color: cornflowerblue;
  color: aliceblue;
  background-color: cornflowerblue;
}

.colorButton {
  border-style: none;
  border-radius: 50px;
  margin-right: 10px;
  width: 100px;
  height: 100px;
}
.colorButton:hover {
  border-style: solid;
  border-color: gray;
}
.colorButton:focus {
  border-color: gray;
  border-style: solid;
}
